* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.search {
height: 70%;
}
.main {
display: flex;
}
.sidebar{
flex:1;
}
.content {
flex:6;
padding:0.5rem;
}
.sidebar ul {
list-style-type: none;
}
.sidebar ul li{
/* margin: 0 auto; */
}
.inner-content {
background-color: yellow;
margin-bottom: 1rem;
padding:0.5rem;
border-radius: 0.3rem;
}
.lead {
width: 20%;
display: flex;
justify-content: space-between;
}
.trail {
width: 23%;
display: flex;
justify-content: space-between;
}